*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/firebase-react-admin/node_modules
/firebase-react-admin/react-admin-firebase-demo/node_modules
/firebase-react-admin/react-admin-firebase-demo/src/FIREBASE_CONFIG.js


